<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/flaticon/css/all/all.css">
    <title>Divisions App</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/images/FMA_logo.png" alt="FMA" id="logo">
            <h1>Farnham Martial Arts</h1>
        </div>
        <div class="nav">
            <div class="icons"><img src="/images/belt.png" id="belt-icon"><p>Belt</p></div>
            <div class="icons"><a href="views/user/new.ejs"><i class= "fi fi-sr-clipboard-list"></i><span>Register</span></a></div>
            <div class="icons"><a href="views/user/login.ejs"><i class= "fi fi-sr-user"></i><span>Sign in</span></a></div>
            <div class="icons"><a href="/"><i class= "fi fi-sr-home"></i><span>Home</span></a></div>
        </div>
    </nav>
    <banner>
        <img src>
    </banner>
</body>
</html>