<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/flaticon/css/all/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>FMA App</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">
                <a href="https://farnhammartialarts.co.uk/" target="_blank"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716047/FMA_logo_jdb3km.png" alt="FMA logo" id="logo"></a>
                <h1>Farnham Martial Arts</h1>
            </div>
            <div class="nav">
                <div class="icons"><a href="/members"><i class="fi fi-sr-home"></i><span>Home</span></a></div>
                <div class="icons"><a href="/members/new"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715829/add-friend_pvrlft.png" id="add-user">Add Profile</a></div>
                <div class="icons"><a href="/members" id="belt-link"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716026/grey_j12d7g.png" id="grey-belt">Belt</a></div>
                <div class="icons"><a href="views/user/new"><i class="fi fi-sr-clipboard-list"></i><span>Register</span></a></div>
                <% if (user) { %>
                    <div class="icons"><a href="#" onclick="document.getElementById('logout-form').submit();" class="btn btn-danger text-white">Sign out</a>
                        <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                    </div>
                <% } else {%>
                <div class="icons"><a href="/login"><i class="fi fi-sr-user"></i><span>Sign in</span></a></div>
                <% } %>
            </div>
        </nav>
    </div>
    <div class="belts" id="belts-section">
        <div><a href="/members/belt/Black"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716029/Black_dgfiam.png" id="belt-icon"></a></div>
        <div><a href="/members/belt/Brown"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716027/brown_tckukv.png" id="belt-icon"></a></div>
        <div><a href="/members/belt/Purple"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716028/Purple_f3kdpz.png" id="belt-icon"></a></div>
        <div><a href="/members/belt/Blue"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716028/blue_rt1o7l.png" id="belt-icon"></a></div>
        <div><a href="/members/belt/White"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716026/white_ypstq5.png" id="belt-icon"></a></div>
    </div>
    <main>
        <div class="banner-container" id="container-1">
            <div class="slides-wrapper">
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716032/action-shot1_yevmws.jpg" alt="Action Shot"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716033/action-shot2_i5hwhl.jpg" alt="Action Shot"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715980/action-shot3_v2oxr4.jpg" alt="Action Shot"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716031/team-photo_ektl8p.jpg" alt="Team Photo"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715845/brown-team_eiqfq7.jpg" alt="Brown Belts"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715979/action-shot6_ttp5ue.jpg" alt="Action Shot"></div>
            </div>
        </div>
        <div class="banner-container" id="container-2">
            <div class="slides-wrapper">
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737716030/black-belts_vr6obq.jpg" alt="Black Belts"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715910/blue-team-photo_lnowd3.jpg" alt="Blue Team"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715854/purple-team_lcp2ry.jpg" alt="Purple Team"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715979/action-shot5_rqvaeq.jpg" alt="Action Shot"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715979/action-shot7_jjj50o.jpg" alt="Action Shot"></div>
                <div class="slide"><img src="https://res.cloudinary.com/dvp3fdavw/image/upload/v1737715927/no-gi-jc_qwnskm.jpg" alt="No Gi"></div>
            </div>
        </div>
    </main>