<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/flaticon/css/all/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>FMA App</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">
                <a href="https://farnhammartialarts.co.uk/" target="_blank"><img src="/images/FMA_logo.png" alt="FMA" id="logo"></a>
                <h1>Farnham Martial Arts</h1>
            </div>
            <div class="nav">
                <div class="icons"><a href="/members"><i class="fi fi-sr-home"></i><span>Home</span></a></div>
                <div class="icons"><a href="/members/new"><img src="/images/add-friend.png" id="add-user">Add Profile</a></div>
                <div class="icons"><a href="/members" id="belt-link"><img src="/images/grey_navbar.png" id="grey-belt">Belt</a></div>
                <div class="icons"><a href="views/user/new"><i class="fi fi-sr-clipboard-list"></i><span>Register</span></a></div>
                <% if (user) { %>
                    <div class="icons"><a href="#" onclick="document.getElementById('logout-form').submit();" class="btn btn-danger text-white">Sign out</a>
                        <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                    </div>
                <% } else {%>
                <div class="icons"><a href="/login"><i class="fi fi-sr-user"></i><span>Sign in</span></a></div>
                <% } %>
            </div>
        </nav>
    </div>
    <div class="belts" id="belts-section">
        <div><a href="/members/belt/Black"><img src="/images/black.png" id="belt-icon"></a></div>
        <div><a href="/members/belt/Brown"><img src="/images/brown.png" id="belt-icon"></a></div>
        <div><a href="/members/belt/Purple"><img src="/images/purple.png" id="belt-icon"></a></div>
        <div><a href="/members/belt/Blue"><img src="/images/blue.png" id="belt-icon"></a></div>
        <div><a href="/members/belt/White"><img src="/images/white.png" id="belt-icon"></a></div>
    </div>
    <main>
        <div class="banner-container" id="container-1">
            <div class="slides-wrapper">
                <div class="slide"><img src="/images/action-shot1.jpg" alt="Action Shot"></div>
                <div class="slide"><img src="/images/action-shot2.jpg" alt="Black Belts"></div>
                <div class="slide"><img src="/images/action-shot3.jpg" alt="Blue Team"></div>
                <div class="slide"><img src="/images/team-photo.jpg" alt="Purple Team"></div>
                <div class="slide"><img src="/images/brown-team.jpg" alt="Action Shot"></div>
                <div class="slide"><img src="/images/action-shot6.jpg" alt="Team Photo"></div>
            </div>
        </div>
        <div class="banner-container" id="container-2">
            <div class="slides-wrapper">
                <div class="slide"><img src="/images/black-belts.jpg" alt="Black Belts"></div>
                <div class="slide"><img src="/images/blue-team-photo.jpg" alt="Blue Team"></div>
                <div class="slide"><img src="/images/purple-team.jpg" alt="Purple Team"></div>
                <div class="slide"><img src="/images/action-shot5.jpg" alt="Action Shot"></div>
                <div class="slide"><img src="/images/action-shot7.jpg" alt="Team Photo"></div>
                <div class="slide"><img src="/images/no-gi-jc.jpg" alt="Action Shot"></div>
            </div>
        </div>
    </main>